<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tencent.devicedemo"
          android:installLocation="internalOnly"
          android:versionCode="2"
          android:versionName="1.0.1">
    <!-- android:sharedUserId="android.uid.system" -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.REBOOT"
        android:protectionLevel="signatureOrSystem"/>
    <uses-permission
        android:name="android.permission.SHUTDOWN"
        android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true"/>

    <!-- 开启摄像头 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.setParameters"
        android:required="false"/>
    <!-- 阅读消息 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 接收消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 读写⽂文件 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <!-- // SDK 权限申明, 第三方 APP 接入时，请将 com.yuntongxun.ecdemo 替换为自己的包名
     // 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。-->
    <permission
        android:name="com.tencent.devicedemo.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>
    <permission
        android:name="com.tencent.devicedemo.permission.INCOMING_CALL"
        android:protectionLevel="signature"/>
    <!--// 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.yuntongxun.ecdemo 替换为自己的包名-->
    <uses-permission android:name="com.tencent.devicedemo.permission.RECEIVE_MSG"/>
    <!-- // 如果没有VOIP功能可以忽略-->
    <uses-permission android:name="com.tencent.devicedemo.permission.INCOMING_CALL"/>
    <!--// 以上为v5.1.9r 版本增加-->

    <!--// 允许程序打开网络sockets-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--// 允许程序访问有关的网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- // 允许程序访问Wi-Fi网络状态信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--// 允许应用写（非读）用户的外部存储器-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--// 允许读取电话的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--// 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--// 允许程序录制音频-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--// 允许应用程序修改全局声音设置的权限&lt;!&ndash;&ndash;&gt;-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!--// 允许使用PowerManager的WakeLocks保持进程在休眠时从屏幕消失&lt;!&ndash;-->-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--// 允许请求访问使用照相设备(如果使用视频通话则必选配置)-->
    <uses-permission android:name="android.permission.CAMERA"/>


    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!--手机定位信息，用来为语义等功能提供定位，提供更精准的服务--> <!--定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="SUPERID_APPKEY"
            android:value="47d59b9bd6da96631a4572e3"/>
        <meta-data
            android:name="SUPERID_SECRET"
            android:value="a58e9555bd2fef42ecce9aa3"/>

        <activity
            android:name="com.tencent.devicedemo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Apptheme"
            android:windowSoftInputMode="stateHidden">


            <!-- NFC-related intent filter. Allows application to handle messages from any
                 NFC-A devices discovered. Other Android devices are required to support NFC-A.
                 See: res/xml/nfc_tech_filter.xml -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter"/>
        </activity>

        <activity
            android:name=".InitActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>


        </activity>

        <!--监听开机自启动-->
        <receiver android:name=".BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
            <!--如果应用装到SD卡后需要加入如下设置开机广播才可以收到-->
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>

                <data android:scheme="file"></data>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

            </intent-filter>
        </receiver>

        <!--监听app更新安装包-->
        <receiver android:name="com.brocast.UpdateAPKReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>

                <data android:scheme="file"></data>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

            </intent-filter>
        </receiver>

        <activity
            android:name=".InputCardInfoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name="com.tencent.devicedemo.BinderActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.tencent.devicedemo.WifiDecodeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.tencent.devicedemo.VideoMessageActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.tencent.devicedemo.VideoChatActivitySF"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:launchMode="singleTask"
            android:process=":video"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name="com.tencent.devicedemo.VideoChatActivityHW"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:launchMode="singleTask"
            android:process=":video"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name="com.wificonnect.WifiConnActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:launchMode="singleTask"
            android:process=":video"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name=".AudioRecordActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <!--// SDK核心服务配置-->
        <service
            android:name="com.yuntongxun.ecsdk.ECClientService"
            android:enabled="true"
            android:process=":push"/>
        <!-- // v5.2.2r以后的清单文件需要配置下列服务-->
        <service
            android:name="com.yuntongxun.ecsdk.ECClientService$InnerService"
            android:enabled="true"
            android:process=":push"/>
        <!--// 以下两项为SDK事件提醒广播-->
        <receiver
            android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$AlarmReceiver"
            android:process=":push"/>
        <!--// v5.1.9r增加配置选项-->
        <receiver
            android:name="com.yuntongxun.ecsdk.booter.Alarm"
            android:exported="false"
            android:process=":push"/>

        <!-- sdk's remote service -->
        <service android:name="rtc.sdk.impl.SdkService">
            <intent-filter>
                <action android:name="rtc.sdk.service"/>
            </intent-filter>
        </service>

        <receiver android:name="com.tencent.devicedemo.AlarmReciver"></receiver>

        <service android:name="com.tencent.device.TXDeviceService">
            <intent-filter>
                <action android:name="com.tencent.device.RemoteTXDeviceService"/>
            </intent-filter>
        </service>
        <service android:name="com.androidex.DoorLock">
            <intent-filter>
                <action android:name="com.android.action.doorsensor"/>
            </intent-filter>
        </service>
        <service android:name="com.androidex.service.MainService"></service>
        <service
            android:name="com.tencent.av.VideoService"
            android:process=":video"/>

        <service
            android:name="com.tencent.devicedemo.VideoMonitorService"
            android:process=":video"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>

        <service
            android:name="com.androidex.service.MyAccessibilityService"
            android:label="我的智能安装"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>
